
body {
  background: #eee;
}

a{
  text-decoration:none;
  color:#aaa;
  transition: all .3s;
}
a:hover {
  color:#aaf;
}

.sweg
{

text-decoration:none;
color:#fff;
background-color: #fff;
padding: 20pt;
position:fixed;
transition: 0.7s;
font-family:helvetica;
font-size: 50pt;
transition: all 0.3s;
border-radius: 2pt;
box-shadow: 0pt 2pt 4pt 0pt rgba(0,0,0,0.23);
-webkit-box-shadow: 0pt 2pt 4pt 0pt rgba(0,0,0,0.23);

left: 50%;
top: 50%;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
}
.sweg:hover{
  box-shadow: 0pt 4pt 8pt 0pt rgba(0,0,0,0.23);
  -webkit-box-shadow: 0pt 4pt 8pt 0pt rgba(0,0,0,0.23);
}
