

a{text-decoration:none; color:#999;}

.sweg
{

text-decoration:none;
color:#999;
background-color:black;
padding:1.5%;
position:fixed;
transition: 0.7s;
font-family:helvetica;
font-size:50px;
transition:0.7s;
}
.sweg:hover
{
color:white;



}
